html {
line-height: 1.5;
box-sizing: border-box;
background-color: #f0eee8;
font-family: Georgia, serif;
}

*, *::before, *::after {
box-sizing: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
}

.link-card {
  display: block;
  text-decoration: none;
  background-color: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 6px;
  padding: 1em;
  color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card:hover .btn {
  background-color: #512200;
}
